.carousel-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.carousel-content {
  height: 90vh;
  padding: 10rem;
  display: flex;
  flex-direction: column;
}

.carousel-content > div {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  padding: 0 1rem;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.carousel-content > p {
  width: 60vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-left: auto;
  margin-top: 1rem;
  text-align: right;
}
